/* @group BASIC */
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
html, body {
	font-family: 'Bitter', serif;
	background: #F9FBF4;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #00A8DE;
}
a, .transition {
	transition: all 500ms;
	-moz-transition: all 500ms; /* Firefox 4 */
	-webkit-transition: all 500ms; /* Safari and Chrome */
	-o-transition: all 500ms; /* Opera */
}
.bar {
	height: 5px;
	background: black;
}
#wrapper {
	width: 800px;
	margin: auto;
}
.banner {
	width: 100%;
	padding-top: 100px;
	border-bottom: 1px solid #d6d6d6;
}
.banner-title {
	font-size: 42px;
	text-align: center;
}
.banner-introduction {
	padding: 30px 100px;
	font-size: 18px;
	line-height: 24px;
	color: #666;
}
.banner-return-home {
	text-align: right;
	padding-right: 10px;
	margin-bottom: 15px;
}
/* === MIDDLE === */
/* LEFT */
.left-block {
	float: left;
	width: 400px;
}
.form-title {
	text-align: center;
	font-size: 32px;
	margin: 20px 0 20px;
}
.input-form {
	width: 280px;
	margin: 0 40px 40px;
	padding: 20px;
	background: white;
	border-radius: 2px;
	box-shadow: 0px 1px 4px #d6d6d6;
}
.input-section {
	margin-bottom: 10px;
}
.input-section div {
	margin-bottom: 5px;
}
.input-section input {
	width: 280px;
}
.input-section-bottom {
	margin-top: 20px;
	margin-bottom: 10px;
}
.input-section-bottom label {
	line-height: 27px;
	font-size: 14px;
	color: #999;
}
.input-section-bottom input[type="submit"] {
	float: right;
}
/* RIGHT */
.right-block {
	float: right;
	width: 400px;
}
#register-warning {
	font-size: 18px;
	line-height: 24px;
	color: red;
}
/* MIDDLE END */
/* @group FOOTER */
.footer {
	border-top: 1px dashed #999;
	padding-top: 20px;
	height: 40px;
	margin-bottom: 30px;
	color: #999;
	font-size: 12px;
	clear: both;
}
.footer-copyright {
	float: left;
}
.footer-menu {
	float: right;
}
.footer-menu li {
	float: left;
	margin-left: 20px;
}
/* @end */