/* @override
	http://localhost/ES-homework/_css/main-style.css */

/* @group BASIC */
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
html, body {
	font-family: 'Bitter', serif;
	background: #F9FBF4;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #00A8DE;
}
a, .transition {
	transition: all 500ms;
	-moz-transition: all 500ms; /* Firefox 4 */
	-webkit-transition: all 500ms; /* Safari and Chrome */
	-o-transition: all 500ms; /* Opera */
}
.bar {
	height: 5px;
	background: black;
}
#wrapper {
	width: 720px;
	margin: 0 auto;
	padding: 0 90px;
	background: url('../_image/wrapper-bg.gif') no-repeat 0 200px;
}
.banner {
	width: 100%;
	height: 200px;
}
.banner-logo {
	font-size: 42px;
	padding-top: 110px;
}
.banner-menu {
	float: right;
	font-size: 20px;
	color: #333;
	height: 48px;
	line-height: 32px;
	padding: 0 8px;
}
.banner-menu li {
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px dotted #999;
}
.banner-menu li:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}
.information {
	height: 60px;
	font-size: 28px;
	line-height: 60px;
	color: white;
}
.search {
	background: #00A8DE;
	transition: all 400ms;
	-moz-transition: all 400ms; /* Firefox 4 */
	-webkit-transition: all 400ms; /* Safari and Chrome */
	-o-transition: all 400ms; /* Opera */
}
.search-color {
	background: #333290;
}
.search-top {
	padding: 20px;
	height: 40px;
	position: relative;
}
/* AJAX search show */
.search-show {
	overflow: hidden;
	height: 0;
}
#search-message {
	padding: 20px;
	font-size: 22px;
	line-height: 40px;
	color: white;
/*	border-bottom: 1px solid #00A8DE;*/
}
.search-result-message {
	font-size: 34px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding-bottom: 20px;
	color: #EF7F31;
}
.search-result-title {
	font-size: 20px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	color: #91BD49;
	border-top: 1px solid #00A8DE;
}
.search-result-item {
	height: 44px;
	font-size: 20px;
	line-height: 32px;
	color: white;
}
.search-result-item:hover {
	background: #E9177D;
}
.search-result-item a {
	padding: 6px 10px;
	display: block;
}
.search-result-item a:hover {
	color: white;
}
.search-result-name {
	float: left;
	margin-left: 20px;
}
.search-result-addr {
	color: #999;
	font-size: 16px;
	float: right;
}
/* end */
#category-button, #search-button {
	background: #177c9b;
	width: 140px;
	color: white;
	border: 0;
}
#category-button:hover , #search-button:hover {
	background: #EA2B3B;
}
#category-button {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 40px;
}
#search-input {
	width: 360px;
	margin: 0 auto;
	display: block;
	height: 40px;
	position: relative;
	z-index: 10;
}
#search-button {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 40px;
}
.main {
	background: white;
}
.main-shadow {
	background: url('../_image/shadow.png') no-repeat top;
	height: 50px;
}
.footer {
	border-top: 1px dashed #999;
	padding-top: 20px;
	height: 40px;
	margin-bottom: 30px;
	color: #999;
	font-size: 12px;
}
.footer-copyright {
	float: left;
}
.footer-menu {
	float: right;
}
.footer-menu li {
	float: left;
	margin-left: 20px;
}

/* @end */
/* @group ANIMATION */

/* @end */
/* @group user panel */
.user-inner {
	padding: 40px;
}
#inner-profile-edit {
	display: none;
}
.inner-left,
.inner-right {
	width: 300px;
	float: left;
}
.inner-right {
	float: right;
}
.pic-wrapper {
	width: 298px;
	height: 298px;
	border: 1px solid #d6d6d6;
	box-shadow: 0px 2px 2px #999;
}
.pic-wrapper img {
	width: 298px;
	height: 298px;
}
.profile-block {
	font-size: 20px;
	line-height: 32px;
}
.profile-block h4 {
	font-size: 16px;
	color: #999;
}
.profile-block-bottom {
	margin-top: 40px;
}
.profile-block-bottom input {
	margin: 0 auto;
}
.profile-block div {
	font-size: 16px;
	color: #999;
}
label[for="male"], 
label[for="female"] {
	width: 125px;
	display: inline-block;
}
/* @end */
/* @group restaurant */
.r-pic-wrapper {
	width: 720px;
	height: 300px;
	overflow: hidden;
}
.r-pic-wrapper img {
	width: 720px;
}
.r-content-wrapper {
	padding: 20px;
}
.r-name {
	font-size: 46px;
	margin-bottom: 10px;
}
.r-cat {
	font-size: 20px;
}
.r-address,
.r-tell {
	text-align: right;
	color: #666;
	margin-bottom: 10px;
}
.hr-line {
	height: 1px;
	border: none;
	background: #333;
	margin-bottom: 40px;
}
.r-desc {
	padding: 0 40px;
	margin-bottom: 20px;
}
.r-dishes-wrapper {
	border-top: 1px solid #d6d6d6;
}
.dish-achor {
	float: left;
	display: block;
	color: white;
}
.dish-achor,
.dish {
	width: 240px;
	height: 320px;
	background: #666;
}
.dish img {
	display: block;
	width: 240px;
	height: 240px;
}
.dish-info {
	position: relative;
	height: 80px;
}
.dish-name {
	padding: 10px 5px 0 5px;
	font-size: 14px;
	line-height: 20px;
}
.dish-price {
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	padding: 0 30px 5px 0;
}
/* @end */

























